<!--The page after loading the website
Provides a table view of the employees, displaying the employee (name) who orders, the ID of the employee, the rate of the employee, 
the allowance of the employee, and the overtime of the employee.
 The table should also have a column of buttons that’ll allow the user to update, delete, and add overtime for that specific employee. 
 The update button will lead to the Update Employee Page and the delete button will delete the employee from the database. Any prompt before a delete is optional
For the overtime button, it must have an adjacent input that will take in an x amount of hours. 
Once the add overtime button is pressed, overtime will be calculated and this value is added to the employee’s attributes. 
The calculation of overtime is as follows: Overtime = (Rate/160) x 1.5 x Overtime Hours
On the top of the table is a New Employee button. This will allow the user to add more employees to the system. Once pressed, the user will be brought to the Create Employee Page.
-->

{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}
<div class="col-12">

    <div class="row">
        <div class="col-auto me-auto" style="color: #274c77;"><h1>Employees</h1></div>
        <div class="col-auto"><a href="{% url 'create_employee' %}" class="btn btn-secondary"><i class="bi bi-plus"></i>New Employee</a></div>
    </div>


    <table class="table table-striped mb-5 table-hover" style="color: #fffff;">
        <thead class="table" style="background-color: #274c77; color: #ffd500;">
            <th scope="col"> Name </th>
            <th scope="col"> ID Number </th>
            <th scope="col"> Rate </th>
            <th scope="col"> Allowance </th>
            <th scope="col"> Overtime </th>
            <th scope="col"> Options </th>
        </thead>
        <tbody>
            {% for e in employees %}
            <tr>
                <td style="width: 200px; max-width: 250px; word-wrap: break-word;"> {{ e.name }} </td>
                <td> {{ e.id_number }} </td>
                <td> {{ e.rate }} </td>
                <td> {{ e.allowance }} </td>
                <td> {{ e.overtime_pay }} </td>
                <td>
                    <div class="row row-cols-auto justify-content-center">

                        <div class="col mb-1">
                            <a class="btn btn-warning" href="{% url 'update_employee' pk=e.pk %}">Update</a>
                            <a class="btn btn-warning" href="{% url 'delete_employee' pk=e.pk %}">Delete</a>
                        </div>
                        
                        <div class="col mb-1">
                            <form action="{% url 'add_overtime' pk=e.pk %}" method="POST">{% csrf_token %}
                                
                                <div class="input-group">
                                    <input type="number" class="form-control" name="hours" placeholder="Enter overtime hours" min='0' required>
                                    <button type="submit" class="btn btn-warning">Add Overtime</button>
                                </div>

                            </form>
                        </div>
                        
                        <div class="col mb-1">
                        <a class="btn btn-warning" href="{% url 'reset_overtime' pk=e.pk %}">Reset Overtime</a>
                        </div>
                        
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}